:root {
	font-family: sans-serif;
}

#error:not(.no-error) {
	background-color: pink;
	border: #f99 solid 2px;
	padding: 5px;
}

.topic {
	display: block;
}

:any-link {
	color: blue;
}

.topic:nth-child(odd) :any-link {
	color: #50f;
}

input {
	background: white;
	border: black solid 1px;
	border-radius: 5px;
	color: black;
}